body {
	display: flex;
	justify-content: center;
	padding: 50px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
}

button {
	font-size: 25px;
	cursor: pointer;
}

.device {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(100, 95, 95);
	width: 300px;
	height: 500px;
	padding-top: 15px;
	border: rgb(128, 128, 128) solid;
	border-radius: 8px;
}

.screen {
	display: flex;
	justify-content: flex-end;
	background-color: rgb(113, 156, 156);
	border: rgb(128, 128, 128) solid;
	border-radius: 5px;
	width: 275px;
	height: 55px;
	font-family: "Courier New", Courier, monospace;
	font-size: 55px;
}

.keypad {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 256px;
	height: 420px;
	padding: 3%;
	border: rgb(128, 128, 128) solid;
	border-radius: 5px;
	margin: 9px;
}

.num-button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(175, 175, 175);
	border: 2px rgb(170, 77, 77) solid;
	border-radius: 12px;
	width: 54px;
	height: 54px;
	margin: 3px;
}

.num-button:active {
	background-color: rgb(255, 255, 255);
}

.op-button,
#equals {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(0, 0, 0);
	border: 2px rgb(170, 77, 77) solid;
	border-radius: 12px;
	width: 54px;
	height: 54px;
	margin: 3px;
	color: rgb(175, 175, 175);
}

.op-button:focus {
	color: rgb(0, 0, 0);
	border-color: rgb(25, 192, 100);
	background-color: rgb(175, 175, 175);
}

#all-clear,
#clear,
#decimal {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(0, 0, 0);
	border: 2px rgb(170, 77, 77) solid;
	border-radius: 12px;
	width: 54px;
	height: 54px;
	margin: 3px;
	color: rgb(170, 77, 77);
	font-weight: bold;
}

#all-clear:active,
#clear:active,
#decimal:active {
	background-color: rgb(175, 175, 175);
}

#equals {
	margin-right: 10px;
}

#equals:active {
	background-color: rgb(175, 175, 175);
	color: rgb(0, 0, 0);
}

#zero {
	flex: 1;
	margin-left: 10px;
}
